.single-post{
    background-color: transparent;
    border-radius: 10px;
    padding: 20px;
    background-color: rgb(30, 30, 30);
    cursor: pointer;
}
.post-user-data{
    display: flex;
    align-items: center;
    font-family: sans-serif;
    margin-bottom: 30px;
}
.post-names{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-left: 10px;
}
.username{
    color: rgb(151, 151, 151);
}
.full-name{
    color: white;
}
.post-user-data img{
    width: 40px;
    border-radius: 50px;
}
.post-time{
    display: flex;
    margin-left: auto;
    align-items: center;
    gap: 2px;
    color: rgb(151, 151, 151);
}
.post-time svg{
    height: 16px;
    width: 16px;
    margin-bottom: 2px;
    color: rgb(151, 151, 151);
}
.post-image-containter{
    height: fit-content;
    background-size: cover;
}
.post-img{
    width: 100%;
    border-radius: 10px;
    height: auto;
    object-fit: cover;  
}
.post-content{
    width: 100%;
    font-size: 1.5rem;
    font-family: sans-serif;
    color: white;
    margin-top: 10px;
    line-height: 1.7;
    text-align: justify;
}
.post-btns{
    display: flex;
    gap: 10px;
    margin-top: 10px;
}
.like-icon{
    display: flex;
    align-items: center;
    gap: 4px;
}
.like-icon span{
    color: white;
    font-size: 2.16rem;
}
.comment-icon{
    display: flex;
    align-items: center;
    gap: 5px; 
}
.comment-icon span{
    color: white;
    font-size: 2.15rem;
}
.post-btns svg{
    height: 22px;
    width: 22px;
}
