.btn{
    font-size: 1.8rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: none;
    background-color: rgb(97, 30, 206);
    font-weight: 700;
    border-radius: 10px;
    color: white;
    width: 100%;
    padding: 15px;
    cursor: pointer;
    transition: 0.2s all;
}
.btn:hover{
    background-color: rgb(71, 22, 150);
}
.primary--large{
    width: 200px;
}
.primary--small{
    display: flex;
    gap: 10px;
    background-color: rgb(184, 184, 184);
    justify-content: center;
    width: fit-content;
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;
    padding-top: 7px;
    padding-bottom: 7px;
}
.primary--small:hover{
    color: white;
    background-color: rgb(241, 116, 38);
}
.primary--mid{
    display: flex;
    gap: 10px;
    width: fit-content;
    background-color: rgb(97, 30, 206);
    white-space: nowrap;
}