html{
  font-size: 62.5%;
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
    background-color: #131313;
}
.homepage{
    display: flex;
}
.menu{
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 100vh;
    padding-left: 180px;
    padding-top: 20px;
}
.menu-logo{
    height: 50px;
    width: 50px;
    margin-bottom: 10px;
}
.menu-icon{
    display: flex;
    color: rgb(255, 255, 255);
    font-family: sans-serif;
    align-items: center;
    font-size: 1.5rem;
    gap: 5px;
    padding: 7px 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.1s all;
}
.menu-icon:hover{
    background-color: rgb(53, 53, 53);
}
.menu-icon h2{
    margin-top: 5px;
}
.menu-svg{
    fill: rgb(255, 255, 255);
    height: 35px;
    width: 35px;
}
.feed{
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 750px;
    height: 100vh;
    padding: 20px;
}
.profile-container{
    flex: 1;
    padding-top: 10px;
    padding-right: 40px;
}
.profile-container img{
    display: block;
    border-radius: 100%;
    height: 50px;
    margin-left: auto;
    margin-bottom: 15px;
    cursor: pointer;
}
.profile-menu{
    display: block;
    background-color: rgb(58, 58, 58);
    padding: 10px;
    border-radius: 15px;
    width: 80%;
    margin-left: auto;
    margin-right: 10px;
}
.profile-menu button{
    display: flex;
    background-color: rgb(58, 58, 58);
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.profile-menu svg{
    height: 20px;
}
.profile-menu h2{
    font-size: 2rem;
}