html{
  font-size: 62.5%;
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
    background-color: #131313;
}
.homepage{
    display: flex;
}
.menu{
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 100vh;
    padding-left: 180px;
    padding-top: 20px;
}
.menu-logo{
    height: 50px;
    width: 50px;
    margin-bottom: 10px;
}
.menu-icon{
    display: flex;
    color: rgb(255, 255, 255);
    font-family: sans-serif;
    align-items: center;
    font-size: 1.5rem;
    gap: 5px;
}
.menu-icon h2{
    margin-top: 5px;
}
.menu-svg{
    fill: rgb(255, 255, 255);
    height: 35px;
    width: 35px;
}
.feed{
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 750px;
    height: 100vh;
    padding: 20px;
}