.post-modal{
    display: flex;
    flex-direction: column;
    height: 99vh;
    position: absolute;
    width: 720px;
    padding: 20px;
    background-color: black;
    margin: 0 auto;
    margin-top: 10px;
    border-radius: 10px;
    overflow-y: auto;
}
.modal-overlay{
    position: absolute;
    height: 100vh;
    width: 100%;
    backdrop-filter: blur(8px);
    background: rgba(0, 0, 0, 0.3);
    left: 0;
}