.post-modal{
    display: flex;
    flex-direction: column;
    height: 99vh;
    position: fixed;
    width: 720px;
    padding: 20px;
    background-color: black;
    margin: 0 auto;
    border-radius: 10px;
    overflow-y: auto;
}
.post-modal::-webkit-scrollbar {
  width: 12px; 
}

.post-modal::-webkit-scrollbar-track {
  background: #222; 
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.post-modal::-webkit-scrollbar-thumb {
  background-color: #555;  
  border-radius: 6px;
  border: 3.5px solid #222; 
}

.post-modal::-webkit-scrollbar-thumb:hover {
  background-color: #888;
  cursor: pointer;
}
.modal-overlay{
    position: fixed;
    height: 100vh;
    width: 100%;
    backdrop-filter: blur(8px);
    background: rgba(0, 0, 0, 0.3);
    left: 0;
}
