.single-comment{
    position: relative;
}
.comment-profile{
    display: flex;
    gap: 10px;
}
.comment-profile img{
    height: 40px;
    border-radius: 100%;
}
.comment-profile-content{
    display: flex;
    color: white;
    background-color: rgb(30, 30, 30);
    width: fit-content;
    padding-right: 12px;
    padding-left: 12px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 15px;
    transition: 0.2s ease-in-out;
}
.comment-profile-content:hover{
    background-color: rgb(40, 40, 40);
    transition: 0.2s ease-in-out;
}
.comment-profile-content h2{
    font-size: 1.7rem;
}
.comment-profile-content svg{
    height: 15px;
    width: 15px;
    margin-top: 3px;
    margin-left: 10px;
    cursor: pointer;
}
.single-comment p{
    font-size: 1.5rem;
    color: white;
    font-family: Segoe UI Historic, Segoe UI, Helvetica, Arial, sans-serif;
}
.comment-name-time{
    display: flex;
    gap: 5px;
    align-items: center;
}
.comment-name-time h3{
    font-size: 1.2rem;
    color: rgb(198, 198, 198);
    margin-left: -8px;
}
.comment-name-time svg{
    margin-left: -5px;
    margin-top: -0.5px;
}