.single-input{
    font-size: 1.5rem;
    padding: 12px 15px;
    width: 100%;
    border-radius: 8px;
    border: none;
}
.single-input::placeholder{
    color: rgb(159, 159, 159);
}
.single-input:focus{
    outline: 1.5px solid rgb(28, 139, 195);
}
.auth--primary{
    margin-bottom: 25px;
}