.comments-modal{
  display: flex;
  flex-direction: column;
  height: 99vh;
  position: fixed;
  width: 720px;
  z-index: 2;
  padding: 20px;
  background-color: black;
  border-radius: 10px;
  overflow-y: auto;
  top: 50%;
  left: 51%;
  transform: translate(-50%, -50%);
}
.comments-modal .active{
  top: 70%;
}
.comments-modal::-webkit-scrollbar {
  width: 12px; 
}

.comments-modal::-webkit-scrollbar-track {
  background: #222; 
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.comments-modal::-webkit-scrollbar-thumb {
  background-color: #555;  
  border-radius: 6px;
  border: 3.5px solid #222; 
}

.comments-modal::-webkit-scrollbar-thumb:hover {
  background-color: #888;
  cursor: pointer;
}
.modal-overlay{
  position: fixed;
  height: 100vh;
  width: 100%;
  backdrop-filter: blur(8px);
  background: rgba(0, 0, 0, 0.3);
  left: 0;
  cursor: pointer;
}

.comments{
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
}
.loader {
  position: absolute;
  width: 48px;
  height: 48px;
  border: 5px solid #FFF;
  border-bottom-color: #FF3D00;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  top: 52%;
  left: 49%;
  z-index: 2;
  }

  @keyframes rotation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
  } 
@media (max-width: 1080px){
  .modal-overlay{
    top: 0;
    z-index: 1;
  }
  .comments-modal{
    z-index: 2;
    width: clamp(500px, 90%, 720px);
  }
}