html{
  font-size: 62.5%;
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
    background-color: #131313;
}
.homepage{
    display: flex;
}
.homepage-horizontal-border-line{
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: rgba(149, 149, 149, 0.3);
    top: 90px;
    flex: 1;
}
.menu{
    display: flex;
    flex-direction: column;
    width: 320px;
    height: 100%;
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 20px;
    margin-right: 30px;
    position: relative;
}
.menu-logo-content{
    display: flex;
    color: white;
    font-size: 1.5rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    align-items: center;
    margin-bottom: 10px;
}
.menu-logo-content h1{
    margin-top: -15px;
}
.menu-border-line{
    position: absolute;
    width: 1px;
    background-color: rgba(149, 149, 149, 0.3);
    margin-top: 91px;
    height: 100vh;
    left: 320px;
}
.menu-logo{
    height: 70px;
    width: 70px;
}
.menu-icon{
    display: flex;
    color: rgb(255, 255, 255);
    font-family: sans-serif;
    align-items: center;
    font-size: 1.5rem;
    gap: 15px;
    padding: 7px 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.1s all;
}
.menu-icon:hover{
    background-color: rgb(53, 53, 53);
}
.menu-icon h2{
    margin-top: 5px;
}
.menu-icon svg{
    fill: rgb(255, 255, 255);
    height: 23px;
    width: 23px;
    margin-top: 3px;
}
.menu-svg{
    fill: rgb(255, 255, 255);
    height: 35px;
    width: 35px;
}
.feed{
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 750px;
    height: 100vh;
    padding: 20px;
    padding-top: 0;
}
.profile-container{
    flex: 1;
    padding-top: 20px;
    padding-right: 40px;
}
.profile-container img{
    display: block;
    border-radius: 100%;
    height: 50px;
    margin-left: auto;
    margin-bottom: 15px;
    cursor: pointer;
}
.profile-menu{
    display: block;
    background-color: rgb(58, 58, 58);
    padding: 10px;
    border-radius: 15px;
    width: 80%;
    margin-left: auto;
    margin-right: 10px;
    position: absolute;
    width: 180px;
    right: 30px;
    top: 80px;
}
.profile-menu button{
    display: flex;
    background-color: rgb(58, 58, 58);
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.profile-menu svg{
    height: 20px;
}
.profile-menu h2{
    font-size: 2rem;
}