.post-creator{
    display: flex;
    gap: 10px;
    align-items: center;
    margin-top: 20px;
}
.post-creator img{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 100px;
}